<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title></title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-gray-50 group/design-root overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-gray-50 p-4">
              <div class="flex flex-col gap-4">
                <div class="flex gap-3">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuALdHl-wFET_sWIins8OhowS5lzKpVTsWPKTsVg7BcbN5-hpzS5gSyHABoMl8YoNJQWmvoR6B2JKtqC3n3rRUOIHcNe9PjzRht0u_cWWJBCcSNxtHMgMsee-85Vxo5jAHKrR_If38XFMLyoi3ncevoKbMjmywDGuIGitWRRInDwc0uGoWiREC5xOq6yhVzjxzK_p9X4OKgoKni41FkkWmvwpD4cWXTKhjeopBtO1oLR2u3GQPBqThAathjSs7-V96eve5ACekPctsyM");'
                  ></div>
                  <h1 class="text-[#101418] text-base font-medium leading-normal">AlumNet</h1>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="flex items-center gap-3 px-3 py-2 rounded-full bg-[#eaedf1]">
                    <div class="text-[#101418]" data-icon="House" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Home</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="ChatCircleDots" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128ZM84,116a12,12,0,1,0,12,12A12,12,0,0,0,84,116Zm88,0a12,12,0,1,0,12,12A12,12,0,0,0,172,116Zm60,12A104,104,0,0,1,79.12,219.82L45.07,231.17a16,16,0,0,1-20.24-20.24l11.35-34.05A104,104,0,1,1,232,128Zm-16,0A88,88,0,1,0,51.81,172.06a8,8,0,0,1,.66,6.54L40,216,77.4,203.53a7.85,7.85,0,0,1,2.53-.42,8,8,0,0,1,4,1.08A88,88,0,0,0,216,128Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Messaging</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="Newspaper" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M88,112a8,8,0,0,1,8-8h80a8,8,0,0,1,0,16H96A8,8,0,0,1,88,112Zm8,40h80a8,8,0,0,0,0-16H96a8,8,0,0,0,0,16ZM232,64V184a24,24,0,0,1-24,24H32A24,24,0,0,1,8,184.11V88a8,8,0,0,1,16,0v96a8,8,0,0,0,16,0V64A16,16,0,0,1,56,48H216A16,16,0,0,1,232,64Zm-16,0H56V184a23.84,23.84,0,0,1-1.37,8H208a8,8,0,0,0,8-8Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">News Feed</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="Briefcase" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Jobs</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="Trophy" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M232,64H208V56a16,16,0,0,0-16-16H64A16,16,0,0,0,48,56v8H24A16,16,0,0,0,8,80V96a40,40,0,0,0,40,40h3.65A80.13,80.13,0,0,0,120,191.61V216H96a8,8,0,0,0,0,16h64a8,8,0,0,0,0-16H136V191.58c31.94-3.23,58.44-25.64,68.08-55.58H208a40,40,0,0,0,40-40V80A16,16,0,0,0,232,64ZM48,120A24,24,0,0,1,24,96V80H48v32q0,4,.39,8Zm144-8.9c0,35.52-28.49,64.64-63.51,64.9H128a64,64,0,0,1-64-64V56H192ZM232,96a24,24,0,0,1-24,24h-.5a81.81,81.81,0,0,0,.5-8.9V80h24Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Achievements</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-col gap-4">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#b2cae5] text-[#101418] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Post</span>
                </button>
                <div class="flex flex-col gap-1">
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="UsersThree" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Groups</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="Calendar" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-96-88v64a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm59.16,30.45L152,176h16a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136,23.76,23.76,0,0,1,171.16,150.45Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Events</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#101418]" data-icon="Hash" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M224,88H175.4l8.47-46.57a8,8,0,0,0-15.74-2.86l-9,49.43H111.4l8.47-46.57a8,8,0,0,0-15.74-2.86L95.14,88H48a8,8,0,0,0,0,16H92.23L83.5,152H32a8,8,0,0,0,0,16H80.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,80,224a8,8,0,0,0,7.86-6.57l9-49.43H144.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,144,224a8,8,0,0,0,7.86-6.57l9-49.43H208a8,8,0,0,0,0-16H163.77l8.73-48H224a8,8,0,0,0,0-16Zm-76.5,64H99.77l8.73-48h47.73Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#101418] text-sm font-medium leading-normal">Followed Hashtags</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex p-4 @container">
              <div class="flex w-full flex-col gap-4 items-center">
                <div class="flex gap-4 flex-col items-center">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAYRZy0w1maG94W7JpcEhfPEfri_yH7iE2oUHSHJD4ks90mCB_G6OkM6uB4-AeaTh3WmLoUSkLGAgErq_cSBE0muTppAEhx-ToR_4R3YMH5J9Lbsbh0a6bMisoBGtc6UeVIWMeFz-z4wDYHYhGB_X1t0ICkklJgKp-E9A2DMgudetdyvYVeGBQD-AD4XJs0k-RA6_eU7cmLca7q8R0gU9bFaWaTp-R_nYV9X2j6Cuv0cETPP7lpb_q6H4jXRhGvN9Vpr2kGE8BXvxu6");'
                  ></div>
                  <div class="flex flex-col items-center justify-center justify-center">
                    <p class="text-[#101418] text-[22px] font-bold leading-tight tracking-[-0.015em] text-center">Sophia Bennett</p>
                    <p class="text-[#5c718a] text-base font-normal leading-normal text-center">Software Engineer at Innovate Solutions | AI Enthusiast</p>
                    <p class="text-[#5c718a] text-base font-normal leading-normal text-center">San Francisco Bay Area</p>
                  </div>
                </div>
                <button
                  class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#eaedf1] text-[#101418] text-sm font-bold leading-normal tracking-[0.015em] w-full max-w-[480px] @[480px]:w-auto"
                >
                  <span class="truncate">Connect</span>
                </button>
              </div>
            </div>
            <div class="pb-3">
              <div class="flex border-b border-[#d4dbe2] px-4 gap-8">
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-[#b2cae5] text-[#101418] pb-[13px] pt-4" href="#">
                  <p class="text-[#101418] text-sm font-bold leading-normal tracking-[0.015em]">About</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#5c718a] pb-[13px] pt-4" href="#">
                  <p class="text-[#5c718a] text-sm font-bold leading-normal tracking-[0.015em]">Activity</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#5c718a] pb-[13px] pt-4" href="#">
                  <p class="text-[#5c718a] text-sm font-bold leading-normal tracking-[0.015em]">Experience</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#5c718a] pb-[13px] pt-4" href="#">
                  <p class="text-[#5c718a] text-sm font-bold leading-normal tracking-[0.015em]">Skills</p>
                </a>
              </div>
            </div>
            <h2 class="text-[#101418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">About</h2>
            <p class="text-[#101418] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Highly motivated Software Engineer with 5+ years of experience in developing innovative solutions. Passionate about leveraging AI and machine learning to solve
              complex problems. Proven track record of delivering high-quality software and collaborating effectively in team environments.
            </p>
            <h2 class="text-[#101418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Experience</h2>
            <div class="flex gap-4 bg-gray-50 px-4 py-3">
              <div
                class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-[70px]"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAe7YjZ_wleko52LBaAswbwum8CrOAWBj_eXYl5lHcTASIB2T_EL7weBnVNn1wJsO_OpQsR4TvGuaHQLPjP6qFqfg_3XJaBZRvSPEDfeZWBg22yMYGWqoCyyep1f5IRmwejxx-oM6m0__eKyV45My2fzcBtNiLLNfXcm3qeMnnzilznMHmXE0JbIlAJ-hIMpUt2vVNLBqS7Ra60-shj3pPrNpr5RBjdDL5VVM7wMndTE7u9cC8zRoXq0PgrFKRY_PFdh-17Rj4yhtVw");'
              ></div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#101418] text-base font-medium leading-normal">Software Engineer</p>
                <p class="text-[#5c718a] text-sm font-normal leading-normal">Jan 2019 - Present · 5 yr 6 mo</p>
                <p class="text-[#5c718a] text-sm font-normal leading-normal">Full-time · 5 yr 6 mo</p>
              </div>
            </div>
            <h2 class="text-[#101418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Skills</h2>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
                <p class="text-[#101418] text-sm font-medium leading-normal">Python</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
                <p class="text-[#101418] text-sm font-medium leading-normal">Machine Learning</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
                <p class="text-[#101418] text-sm font-medium leading-normal">Data Analysis</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
                <p class="text-[#101418] text-sm font-medium leading-normal">Software Development</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#eaedf1] pl-4 pr-4">
                <p class="text-[#101418] text-sm font-medium leading-normal">Team Collaboration</p>
              </div>
            </div>
            <h2 class="text-[#101418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Accomplishments</h2>
            <div class="flex items-center gap-4 bg-gray-50 px-4 min-h-[72px] py-2">
              <div class="text-[#101418] flex items-center justify-center rounded-lg bg-[#eaedf1] shrink-0 size-12" data-icon="UsersThree" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-[#101418] text-base font-medium leading-normal line-clamp-1">AI and Machine Learning Group</p>
                <p class="text-[#5c718a] text-sm font-normal leading-normal line-clamp-2">100+ members</p>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-gray-50 px-4 min-h-[72px] py-2">
              <div class="text-[#101418] flex items-center justify-center rounded-lg bg-[#eaedf1] shrink-0 size-12" data-icon="UsersThree" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col justify-center">
                <p class="text-[#101418] text-base font-medium leading-normal line-clamp-1">Software Engineering Professionals</p>
                <p class="text-[#5c718a] text-sm font-normal leading-normal line-clamp-2">100+ members</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800" />

    <title>AlumNet</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <style>
        html {
            overflow: hidden;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
        }

        .blinking-text {
            animation: blink 1s infinite;
            /* 'blink' is the name of the animation, 1s is the duration, 'infinite' makes it loop */
            color: black;
            font-size: 80px;
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            /* At the start, fully visible */
            50% {
                opacity: 0;
            }

            /* At 50% of the animation, completely transparent */
            100% {
                opacity: 1;
            }

            /* At the end, fully visible again */
        }
    </style>

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<body>
    <%- include ("partials/header.ejs") %>
        <div>
            <h2 class="blinking-text">Coming Soon...</h2>
        </div>
</body>

</html>